*{
    margin: 0;
    padding: 0;

}

body{
    background-image: url(images/SCROLL\ 2-BRAND\ VALUE\ \(CONCISE\).png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@font-face{
    font-family: 'bebas neue bold';
    src: url(fonts/BebasNeue-Bold.otf);
    font-style: normal;
}

.title{ 
    display: flex;
    align-items: center;
    padding-top: 270px;
    padding-left: 300px;
    z-index: -1;
}

.title h1{
    font-family: bebas neue bold;
    font-size: 80px;
    line-height: 60px;
}

@font-face{
    font-family: 'panton bold';
    src: url(fonts/Panton-Bold.otf);
    font-style: normal;
}

.text{ 
    display: flex;
    align-items: center;   
}

.text p{
    font-family: panton bold;
    font-size: 12px; 
    position: relative;
    bottom: 200px;
    left: 450px;
    z-index: 1;
}

.text span{
    font-size: 60px;
    position: relative;
    bottom: 228px;
    left: 467px;
    z-index: 2;
}

.know-more{
    font-family: panton bold;
    color: #23AF5B;
    font-size: 12px;
    position: relative;
    left: 471px;
    bottom: 220px;
    z-index: 30;
}

.know-more:hover{
    cursor: pointer;
}

.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chicken-seekh{
    
    font-family: bebas neue bold;
    font-size: 40px;
    align-items: center;
    text-align: center;
    padding-left: 620px;
    padding-top: 85px;
    color: white;
    line-height: 30px;
    position: relative;
    bottom: 130px;
    z-index: 30;
}

.chicken-seekh span {
    color: #23AF5B;
}